{% assign dict = site.pages | group_by_exp:"item", "item.url | remove_first: '/' | split: '/' | first" %}

{% for item in dict %}
  {% if item.name contains '%20' %}
  <li class="dropdown dropdown-accordion">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{item.name | split: '%20' | last}}<span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li class="dropdown-header">  </li>
      {% for items in item.items %}
        <li><a class="" href="{{ items.url | relative_url }}">{{items.title}}</a></li>
      {% endfor %}
      <li role="separator" class="divider"></li>
    </ul>
  </li>
  {% endif %}
{% endfor %}
