<!DOCTYPE html>

<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<title>{{ page.title }}</title>

	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
			showProcessingMessages: true
		});
	</script>

  <link rel="stylesheet" href="{{ '/_assets/stylesheets/application.css?v=' | append: site.github.build_revision | relative_url }}">
	<script src="{{ '/_assets/javascripts/jquery.js' || relative_url }}"></script>
	<script src="{{ '/_assets/javascripts/bootstrap.js' || relative_url }}"></script>
	<script src="{{ '/_assets/javascripts/application.js?v=' | append: site.github.build_revision | relative_url }}"></script>

  <link rel="icon" type="image/png" href="/images/minor.png" />
</head>

<body>
	{% include navbar.html %}
	<div id="content" class="container">
		{{ content }}
	</div>
	{% include footer.html %}
	<div id="popup"></div>
</body>

</html>
